body
{
	width: 80%;
	margin: auto auto;
}
ul,ol,li
{
	margin: 0;
}

#volume_controller_container
{
	color: green;
	background-color: #efe;
}
#bluetooth_container
{
	margin-left: 2em;	/* 蓝牙输入的音量，在输出时还是受制于主音量的 (蓝牙输入音量百分比 * 主音量百分比)，相当于：主音量包含蓝牙音量，蓝牙音量受控于主音量，所以缩进一下表示包含关系 */
	color: blue;
	background-color: #ccf;
}
#feedback_container
{
	color: purple;
	background-color: #ffc;
}

#earphone_plugged_in_text
{
	font-size: 200%;
	color: red;
	background-color: yellow;
	font-weight: bold;
}

.volume-bar-container
{
	width:100%;
	border:1px solid;
}
.volume-bar
{
	margin: 4px;
	width: 0;
	line-height: 200%;
	background-color: green;

	color: white;
	text-align: right;
	font-weight: bold;
}
.data
{
	color: red;
	font-size: larger;
}
